@mixin hover-button($padding: 10px 20px) {
  width: max-content;
  padding: $padding;
  border: none;
  cursor: pointer;
  background-color: white;
  border: 1px solid teal;
  color: teal;
  &:hover {
    border: 1px solid white;
    background-color: $lightGreen;
    color: black;
  }
}
